setuptools
hydra-core
huggingface_hub
wandb
pandas
h5py
matplotlib
icecream
gitdb
tqdm
yourdfpy
coacd
cho_util
einops
diffusers==0.29.2
warp-lang==1.2.1
open3d==0.17.0
omegaconf==2.3.0
timm==0.9.11
trimesh==3.20.1
scipy
spatialmath-python
